.popup__error-message {
  margin-top: 5px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;

  color: #f00;
  visibility: hidden;

  line-height: 1;
  font-size: 12px;
  font-weight: normal;
}
