.card__description {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr auto;
  grid-template-areas:
  "description button"
  "description count";

  align-content: center;

  background: #fff;
  padding: 22px 20px;
}
